body{
    background-color: cadetblue;
    margin: 0%;
    padding: 0%;
    font-size: 17pt;
}

h1{
    text-align: center;
}

form, .field{
    float: left;
}

.field{
    padding: 5px;
}

button{
    color: white;
    background-color: darkblue;
    border-color: blue;
}
